@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding-top);
}

:root {
  --scroll-padding-top: 53px;
}

@media (min-width: 640px) {
  :root {
    --scroll-padding-top: 64px;
  }
}

@media (min-width: 768px) {
  :root {
    --scroll-padding-top: 80px;
  }
}

@media (min-width: 1024px) {
  :root {
    --scroll-padding-top: 112px;
  }
}
